body {
  margin: 0;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

a {
  text-underline-offset: 4px;
}

img {
  vertical-align: middle;
}